h1 {
    color:rgb(94, 80, 64);
    text-align: center;
    font:bold 2.5em/3em 
}   

h2 {
    color:rgb(148, 131, 112);

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color:seashell;
}

