Header {
    color:rgb(94, 80, 64);
    text-align: center;
    font: bold 1.4em/1em 'Gill Sans', 'Gill Sans MT', 'Trebuchet', sans-serif
}   

body {
    background-color:seashell;
    color: rgb(150, 132, 112);
    font-size: 1em;
    font: 1em 'Gill Sans', 'Gill Sans MT', 'Trebuchet', sans-serif
}

.MyBestie {
    color: rgb(124, 108, 90);
    font-weight: bold;
}