Header {
    color:rgb(94, 80, 64);
    text-align: center;
    font: bold 1.4em/1em 'Gill Sans', 'Gill Sans MT', 'Trebuchet', sans-serif
}   

body {
    background-color:seashell;
    color: rgb(150, 132, 112);
    font-size: 1em;
    font: 1em 'Gill Sans', 'Gill Sans MT', 'Trebuchet', sans-serif
}

.MyBestie {
    color: rgb(124, 108, 90);
    font-weight: bold;
}

.Malcolm {
    color: rgb(124, 108, 90);
    font-weight: bold;
}

.newpeople {
    color: rgb(124, 108, 90);
    font-weight: bold;
}

.MyDad {
    color: rgb(124, 108, 90);
    font-weight: bold;
}


em
{
    color:rgb(22, 18, 13);
}

ul
{

}

nav
{
   background-color:rgb(240, 215, 186)
   line-height: 200%;
   display: block;
}

nav li
{
    display: inline;
    padding-right: 35px;
    list-style-type: none;
}

nav a:link
{
    color:rgb(59, 51, 41);
    text-decoration:none;
}

nav a:visited
{
    color: rgb(59, 51, 41);
}

nav a:hover
{
    text-decoration:underline;
}
